body {
    background: url('static/');
    margin: 0;
    padding: 0;
}

main {
    border: 2px solid #0ca399be;
    background-image: url("static/main/img/background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none;
    color: rgba(2, 58, 58, 0.7);
}

.header-container, .footer-container {
    height: 100px;
    background-color: #0cafac3b;
    color: rgba(5, 79, 79, 0.544);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top {
    display: flex;
    align-items: center;
    padding: 0;
}

.logo img{
    height: 100px;
    margin-right: 20px;
}

.header-text {
    flex: 1;
}

.header-text a {
    margin: 0;
    font-size: 30px;
    line-height: 1.4;
}

.navigation {
    padding: 10px 20px;
}

.navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navigation ul li {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.navigation ul li a {
    font-size: 25px;
    padding: 10px 20px;
    transition: color 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: hsla(0, 0%, 0%, 0.453);
}

.navigation ul li a:hover {
    color: #0d52c9b8;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    align-content: space-around;
    flex-direction: row;
}

.product-grid-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
    width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    grid-column: 2;
}

.product-item {
    background-color: rgba(5, 79, 79, 0.201);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    flex: 1 1 calc(20%);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* height: 100%; */
}

.product-item h3{
    margin: 10px 0;
    flex: 0 1 auto;
}

.product-item img {
    height: 200px;
    display: block;
    margin: auto;
    object-fit: cover;

}

.product-item p{
    margin: 10px 0;
    flex: 0 1 auto;
}


.footer-about

.footer-bottom

form ul.errorlist li{
    color: red !important;
}

li::marker {
    color: red;
}