{% extends 'base.html' %}

{% block content %}

<div style="display: flex;flex-direction: column;align-items: center;">
    <h3>About Our Shop</h3>
    <br>
    <p>Welcome to our online flower shop!</p>
    <p>We offer a wide variety of fresh and beautiful flowers
        for any occasion. </p>
    <p>In our store, you will find the perfect bouquets for gifts, home decor,
        or special events.</p>
    <p>We take pride in the quality of our flowers and professional service,
        ensuring timely delivery and a personalized approach to each customer.</p>
    <p>Let us help you express your feelings through the beauty of flowers!</p>
</div>

{% endblock content%}