{% extends 'base.html' %}


{% block content %}

<div style="display: flex; flex-direction: column; align-items:flex-start;  text-align: left; padding-left: 25vw;">
    <h1>Contact form for ordering the product</h1>
    <p>Please provide your contact information and the address to which you would like to send flowers.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{order.as_p}}
        {% if product_id %}
            <input type="hidden" name="product_id" value="{{product_id}}">
        {% endif %}
        <button type="submit">Order a callback</button>
    </form> 
</div>


{% endblock content%}